.login_container{
  background: rgb(30, 48, 7);
  height: 100vh;
  padding-top:98px;
}
 .login{
  margin: 0 auto;
  float: none;
  padding:35px 16px;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  background: #c9c9c9;
  box-shadow: #c9c9c9;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.srv-validation-message{
  color: red;
  font-size: 14px;
}
.hidden { display:none; }